<%- include("header") %>

    <div class="card border-0">
        <div class="card-body">
            <h5 class="card-title"><%= blogTitles[id] %></h5>
            <p class="card-text"><%= blogBodies[id] %></p>
        </div>
    </div>

<%- include("footer") %>